#histogram {
    width: 100%;
}
#bars {
    height: 300px;
    margin: 0;
    padding: 0;
}
.histogramItem {
    background-color: red;
    width: 28px;
    display: inline-block;
    border: 1px solid black;
}
#keys {
    font-size: 0;
}
#keys > span {
    width: 30px;
    display: inline-block;
    text-align: center;
    font-size:15px;
    padding-top: 5px;
}
#counts {
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.countItem {
    width: 28px;
    text-align: center;
}


#left, #right {
    display: inline-block;
    vertical-align: top;
}
